.bookForm input:invalid {
  background-color: #ffdddd !important;
}

.bookForm:invalid {
  border: 5px solid #ffdddd;
}

.bookForm input:valid {
  background-color: #ddffdd !important;
}

.bookForm:valid {
  border: 5px solid #ddffdd;
}

.bookForm input:required {
  border-color: #800000;
  border-width: 3px;
}

.bookForm input:required:invalid {
  border-color: #c00000;
}